<p-dialog header="Layers" [(visible)]="display" (onHide)="onHide()" positionLeft="20" positionTop="50">
  <p-button styleClass="ui-button-secondary" icon="fas fa-plus" label="Add Layer" (onClick)="toggleAddLayerDialogue()"></p-button>
</p-dialog>
<add-layer [display]="showAddLayer" (onClose)="addLayerClosed()"></add-layer>