<p-button class="hoverButtons" styleClass="ui-button-secondary" icon="fas fa-layer-group" (onClick)="toggleLayerDialogue()"></p-button>
<layer-dialogue [display]="showLayerDialogue" (onClose)="layerDialogueClosed($event)"></layer-dialogue>
<search></search>
<map></map>