<p-dialog header="Add a new layer" [(visible)]="display" (onHide)="onHide()" minWidth="450">
  <div class="ui-g">
    <div class="ui-g-5">Name</div>
    <div class="ui-g-7">
      <input type="text" pInputText [(ngModel)]="layerName" />
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-5">GetCapabilities URL</div>
    <div class="ui-g-6">
      <input type="text" pInputText [(ngModel)]="getCapabilitiesUrl" />
    </div>
    <div class="ui-g-1">
      <p-button styleClass="ui-button-secondary" icon="fas fa-sync" (onClick)="checkGetCapabilities()"></p-button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12 ui-g-nopad">Available Layers:</div>
    <div class="ui-g-12 ui-g-nopad">
      <p-scrollPanel [style]="{width: '100%', height: '100%'}">
        <p-listbox [options]="availableLayers" [(ngModel)]="selectedLayers" optionLabel="Name" multiple="true"></p-listbox>
      </p-scrollPanel>
    </div>
  </div>
  <p-footer>
    <p-button styleClass="ui-button-danger" label="Cancel" (onClick)="onHide()"></p-button>
    <p-button styleClass="ui-button-success" label="Save" (onClick)="onSave()"></p-button>
  </p-footer>
</p-dialog>